<div class="gallery-thumb-img">
   <a href="#shirt/<%= shirt.escape('id') %>">
  <img style="background-color: <%= shirt.escape('color') %>"
  src="<%= shirt.get('design_url_small') %>"></img>
  </a>
</div>

<div class="gallery-thumb-content">
  <div class="gallery-thumb-content-left">
    <span class="price">$15</span>
  </div>
  <div class="gallery-thumb-content-right">
    <h3><%= shirt.escape('name') %></h3>
    <span class="gallery-thumb-content-author">
      by <a href="/users/<%= shirt.escape('artist_id') %>"><%= shirt.escape('designer') %></a>
    </span>
    <span class="gallery-thumb-content-date">
        <%= date %>
    </span>
  </div>
</div>
