<!DOCTYPE html>
<html>
<head>
  <title>TeeFuryClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div id="header-top">
      <div class="box">
        <ul class="login">
          <% if !current_user.nil? %>
            <li><a href="users/<%= current_user.id %>">Hello <%= current_user.username %></a></li>

            <li><%= link_to "Logout", session_url, :method => :delete %></li>
          <% else %>
            <li><a href="<%= new_session_url %>">Login</a></li>
            <li><a href="<%= new_user_url %>">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </div>

  	<div id="header-bottom">
      <div class="wrap">
        <div class="logo">
          <p class="navbar-text" style="margin-top: 0px;"><%= image_tag("Starcow.png", size: "50x50")%>TeeFuryClone</p>
        </div>

    		<ul class="nav nav-pills">
    			<li><a href="/#home">Home</a></li>
    			<li><a href="/#gallery">Gallery</a></li>
    			<li><a href="/#submit">Submit</a></li>
    			<li><a href="/#admin/shirtsIndex">Admin</a></li>
    		</ul>
      </div>
  	</div>
  </div>

  <div id="content">
      <%= yield %>
  </div>
</body>
</html>